// css header
header {
  --m-left: 70px;
  height: var(--height-header);
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0) 80%
  );
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  @include transition($t);
  &.active {
    background: $black-cl;
  }
  .container-fluid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    img {
      display: block;
    }
  }
  .menu {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    li {
      & + li {
        margin-left: var(--m-left);
      }
      height: 100%;
      a {
        height: 100%;
        opacity: 0.5;
        @include mid(true);
        @include text(1.5rem, proB, 2.2rem, #fff, 0.0375rem, uppercase);
        @include transition($t);
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 64%;
          left: 0;
          width: 100%;
          height: 1.66px;
          background-color: $yellow-cl;
          @include transform(scale(0));
          @include transform-origin(right);
          @include transition($t transform);
        }
        &:hover {
          opacity: 1;
          color: $yellow-cl;
          &:before {
            @include transform(scale(1));
            @include transform-origin(left);
          }
        }
        &.active {
          color: $yellow-cl;
          opacity: 1;
          &:before {
            @include transform(scale(1));
            @include transform-origin(left);
          }
        }
      }
    }
  }
  .right {
    height: 100%;
    display: flex;
    align-items: center;
    .lang {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      cursor: pointer;
      &.active .lang__option {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      &__current {
        display: flex;
        align-items: center;
        span {
          opacity: 0.5;
          @include text(1.6rem, proB, normal, #fff, 0.08rem, uppercase);
          margin-right: 4px;
          @include transition($t);
          &:hover {
            opacity: 1;
            color: $yellow-cl;
          }
        }
      }
      &__option {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 5px;
        width: 100px;
        height: auto;
        background-color: #fff;
        position: absolute;
        z-index: 300;
        top: 70%;
        right: 0;
        padding: 15px 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        @include transition($t);
        a {
          display: inline-block;
          padding: 5px 0;
          @include text(1.6rem, proB, normal, $black-cl, 0.08rem, uppercase);
          @include transition($t);
          &:hover {
            color: $yellow-cl;
          }
        }
      }
    }
    .btnmenu {
      display: none;
      @include size(40px, 22px);
      position: relative;
      z-index: 300;
      margin-left: 20px;
      cursor: pointer;
      span {
        width: 100%;
        height: 2px;
        display: block;
        background-color: $yellow-cl;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        @include transition($t);
      }
      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: $yellow-cl;
        @include transform(rotate(0deg) translate(0px));
        @include transition($t);
        position: absolute;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      &.active {
        &:before {
          width: 70%;
          border-radius: 2px;
          @include transform(rotate(45deg) translate(14px, 0px));
        }
        span {
          opacity: 0;
        }
        &:after {
          width: 70%;
          border-radius: 2px;
          @include transform(rotate(-45deg) translate(14px, 0px));
        }
      }
    }
  }
  @include md {
    --m-left: 40px;
    .logo {
      img {
        width: 150px;
      }
    }
  }
  @include sm {
    background-color: $black-cl;
    .menu {
      display: none;
    }
    .right {
      .btnmenu {
        display: block;
      }
    }
  }
}
